@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Nunito Sans', system-ui, sans-serif;
		/* font-family: 'Unica One', cursive;
	font-family: 'Yeseva One', cursive; */
		scroll-behavior: smooth;
	}

	.btn {
		@apply rounded-full border border-primary py-3 px-6 md:py-4 md:px-8 transition-all duration-300;
	}

	.btn-primary {
		@apply hover:text-white hover:bg-primary text-primary;
	}

	.btn-secondary {
		@apply bg-primaryLight hover:bg-primary text-white;
	}
}
